* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  /* background-color: rgb(238, 233, 226); */
}

.navContainer {
  width: 100vw;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

#navList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 1rem;
  color: azure;
  min-height: 12vh;
}

#navLogo {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: azure;
}

#navItems {
  display: flex;
  gap: 2rem;
}

.footerBox {
  width: 100vw;
  min-height: 12vh;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentBox {
  width: 70%;
  margin: auto;
  padding: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.item {
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 0px 15px black;
  border-radius: 1rem;
  padding: 1.5rem;
}

.rightBox {
  position: relative;
  height: 300px;
}

.rightBox img {
  height: 100%;
  border-radius: 1rem;
}

.rightBox:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.leftBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.leftBox h2 {
  font-size: 1.2rem;
}

.ingredientsBox {
  font-size: 0.85rem;
  margin-left: 1rem;
}

.recipeBox {
  font-size: 0.85rem;
  margin-left: 1rem;
}

.rightBox .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(36, 34, 34, 0.713);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.rightBox:hover .overlay {
  opacity: 1;
  transition: all 0.3s linear 0s;
}

.rightBox .overlay span {
  color: white;
  font-size: 1.3rem;
}
